// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$curiosity-primary: mat.define-palette(mat.$indigo-palette);
$curiosity-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$curiosity-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$curiosity-theme: mat.define-light-theme((
    color: (
        primary: $curiosity-primary,
        accent: $curiosity-accent,
        warn: $curiosity-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

/* You can add global styles to this file, and also import other style files */

:root {
    --greene: #0bd971;
    --dark-green: #0f6e32;
    --blacky: #111013;
    --whitey: #fbf5f3;
    --grey: #17161a;
    --error: #ef7d7d;
    --dark-white: #aba9a9;
    --light-gray: rgba(33, 32, 32, 0.38);
    --info: #3386be;
    --cropper-overlay-color: #17161a;
    --cropper-outline-color: rgba(44, 44, 45, 0.38);
    --text-color: #c1bfbf;
    --red: #e53838;
    --footer-height: 50px;
}

html,
body {
    min-height: 100vh;
    position: relative;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: var(--blacky);
    color: var(--whitey);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

body::after {
    content: '';
    display: block;
    height: var(--footer-height); /* Set same as footer's height */
}

@mixin center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.width-control {
    max-width: 1200px;
    @include center;
}

.width-control-sm {
    @include center;
    max-width: 700px;
}

.width-control-md {
    @include center;
    max-width: 900px;
}


a {
    cursor: pointer;
    color: var(--whitey);
    text-decoration: none;
}

.form {

    .form-group {
        padding: 1px;
        margin: 0.5em 0;
    }

    label {
        display: inline-block;
        margin: 0.5em 0;
    }

    input:focus, textarea:focus {
        outline: none;
    }

    .invalid-msg {
        margin: 0;
        padding: 0.25em;
        color: var(--error);
    }

    .linear-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}

.hidden {
    display: none !important;
}

.vertical > * {
    display: block;
}

textarea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
}

input, textarea {
    display: block;
    padding: 0.4em;
    border-radius: 0.5em;
    border: none;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

input {
    max-width: 20em;
}


@mixin button {
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    font-family: "Poppins", sans-serif;
    margin: 1em 0;
    color: white;
    border: none;
}

button[type="submit"], .btn-highlight {
    @include button;
    background-color: var(--dark-green);
}

.btn-dark {
    @include button;
    background-color: var(--blacky);
    border: 1px solid var(--light-gray);
}

.error-msg {
    color: var(--error);
}

@media screen and (max-width: 600px) {

    .linear-fields {
        display: block !important;
    }
}

.info-link > a {
    color: var(--greene);
    text-decoration: underline;
}

.info-msg {
    color: var(--greene);
}

.postbox {
    background-color: var(--grey);
    justify-content: space-between;
    border-radius: 0.5em;
    margin: 1.75em 0;

    .post {
        display: flex;
        gap: 2em;
        align-items: center;
        padding: 0.3em;


        .thumbnail {
            aspect-ratio: 4/3;
            width: 9.5em;
            object-fit: cover;
            border-radius: 0.2em;
            flex-shrink: 0;
        }

        .text {
            h4 {
                margin: 0 0 0.2em;
                font-size: 1.14em;
            }

            p {
                margin: 0;
                font-size: 0.9em;
                color: var(--dark-white);
            }
        }
    }

}

#profile-pic, .profile-pic {
    border-radius: 50%;
    height: 6.5em;
    width: 6.5em;
    object-fit: cover;
}


.button-group {
    display: flex;
    gap: 1em;
}

.ribbon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h3 {
        margin: 1em 3em 1.5em 0;
    }

    .action {
        display: flex;
        background-color: var(--grey);
        border-radius: 0.4em;
        padding: 0.2em 0.5em;
        gap: 0.3em;
        font-size: 1em;
        cursor: pointer;
    }
}

.ql-editor img {
    max-width: 85vw !important;
    max-height: 80vh !important;
    object-fit: contain;
}

.hidden {
    display: none !important;
}

.ql-container {
    color: var(--text-color);
}

.ql-bubble {
    a {
        color: var(--greene) !important;
        text-decoration: none !important;
    }
}

.delete {
    background-color: var(--red);
}

@media screen and (max-width: 500px) {
    .postbox .post {
        //flex-direction: column;
        gap: 0.75em;

        .thumbnail {
            width: 25vw !important;
            //width: 80vw !important;
        }

        //.text {
        //    text-align: center;
        //    display: flex;
        //    flex-direction: column;
        //    gap: 0.2em;
        //
        //    .writer {
        //        display: flex;
        //        justify-content: center;
        //    }
        //}
    }
}

@media screen and (max-width: 450px) {
    .ribbon {
        flex-direction: column;
    }

    .ribbon-no-wrap {
        flex-direction: row;
    }
}

.ql-editor {
    padding: 0 !important;
}
