<section id="about" class="width-control">

    <div id="about-content">
        <h2>About Curiosity</h2>
        <p>Curiosity blog is a platform where users can also become writers, write posts and share their knowledge. Write about the curious things you find in your life and let others also know about it. Enjoy.</p>
        <p>Server is hosted at <a target="_blank" class="link" href="https://curio-sity.herokuapp.com/">Heroku</a>.</p>
    </div>

    <div id="features">
        <h3>Features</h3>
        <ul>
            <li>Completely RESTful.</li>
            <li>Anyone can create an account.</li>
            <li>Anyone can apply for writer.</li>
            <li>Editable writer profile. Anyone can see your writer profile and feel free to edit your writer profile.</li>
            <li>Crop your profile picture with a built in cropper.</li>
            <li>A WYSIWYG (What You See Is What You Get) Editor integrated for writers to create posts.</li>
            <li>Completely mobile friendly. Use the editor on your mobile and write on the go.</li>
            <li>Turn on auto save and don't worry about losing your edits.</li>
            <li>Submit your posts to get published.</li>
            <li>Search for posts.</li>
            <li>Posts are validated by the server for broken image links. Image links are also generated dynamically.</li>
        </ul>
    </div>

    <div id="packages">
        <h3>Packages Used</h3>
        <ul>
            <li><a href="https://www.npmjs.com/package/ngx-quill" class="link">ngx-quill</a> is an angular (>=2) module for the Quill Rich Text Editor containing all components you need.</li>
            <li><a href="https://www.npmjs.com/package/ngx-image-cropper" class="link">ngx-image-cropper</a> Image cropper for Angular.</li>
        </ul>
    </div>

    <div id="tech-used">
        <h3>Technologies used</h3>
        <div class="tech-container">
            <app-card src="../../assets/html5.png" alt="html5" link="https://en.wikipedia.org/wiki/HTML5" desc="HTML5 is a markup language used for structuring and presenting content on the World Wide Web." title="HTML 5"></app-card>
            <app-card src="../../assets/css-3.png" alt="css3" link="https://en.wikipedia.org/wiki/CSS" desc="CSS3 is the latest version of the CSS specification." title="CSS 3"></app-card>
            <app-card src="../../assets/ts.png" alt="typescript" link="https://www.typescriptlang.org/" desc="TypeScript is a programming language developed and maintained by Microsoft." title="TypeScript"></app-card>
            <app-card src="../../assets/angular.svg" alt="angular" link="https://angular.io/" desc="Angular is a TypeScript-based free and open-source web application framework." title="Angular"></app-card>
            <app-card src="../../assets/quilljs.png" alt="quill-editor" link="https://quilljs.com" title="Quill Editor" desc="Quill is a free, open source WYSIWYG editor built for the modern web."></app-card>
            <app-card src="../../assets/python.svg" alt="python" link="https://python.org" desc="Python is an interpreted high-level general-purpose programming language." title="Python"></app-card>
            <app-card src="../../assets/django.svg" alt="django" link="https://djangoproject.com" desc="Django is a Python-based web framework that follows the model–template–views architectural pattern." title="Django"></app-card>
            <app-card src="../../assets/drf-logo2.png" alt="django-rest" link="https://www.django-rest-framework.org/" desc="Django REST framework is a powerful and flexible toolkit for building Web APIs." title="Django REST"></app-card>
            <app-card src="../../assets/git.png" alt="git" title="Git" link="https://git-scm.com/" desc="Git is a free and open source distributed version control system designed to handle everything with speed and efficiency."></app-card>
        </div>
    </div>

    <div id="platforms-used">
        <h3>Platforms used</h3>
        <div class="tech-container">
            <app-card src="../../assets/GitHub.png" alt="github" link="https://github.com" title="Github" desc="GitHub, Inc. is a provider of Internet hosting for software development and version control using Git."></app-card>
            <app-card src="../../assets/netlify.png" alt="netlify" link="https://netlify.com" title="Netlify" desc="A powerful serverless platform with an intuitive git-based workflow."></app-card>
            <app-card src="../../assets/heroku-icon.svg" alt="heroku" link="https://heroku.com" title="Heroku" desc="Heroku is a cloud platform as a service supporting several programming languages."></app-card>
            <app-card src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" link="https://aws.amazon.com" alt="aws" title="AWS" desc="Amazon Web Services, Inc. is a subsidiary of Amazon providing on-demand cloud computing platforms and APIs."></app-card>
        </div>
    </div>

</section>
