venv/
db.sqlite3
users/__pycache__/
users/migrations/
images/__pycache__/
images/migrations/
posts/__pycache__/
posts/migrations/
curiosity/__pycache__/
curiosity/migrations/
utils/__pycache__/
curiosity/secrets.py