footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--grey);
    width: 100vw;
    height: var(--footer-height);

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        height: 100%;
    }
}
