#image-uploader {
    position: relative;

    .loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        place-items: center;
        background-color: rgba(0, 0, 0, 0.64);
    }

    img {
        max-height: 70vh !important;
        object-fit: contain !important;
    }

    .active {
        color: var(--greene);
    }

    .ratios > button {
        padding: 0.2em 0.8em;
        font-weight: 500;
        margin: 0 0.3em;
    }


    #no-image {
        min-height: 200px;
        display: grid;
        place-items: center;
        text-align: center;
        color: var(--info);
    }
}

.grid {
    display: grid;
}
