<div class="container" id="image-uploader">
    <h3>Upload Image</h3>
    <image-cropper
        (imageCropped)="imageCropped($event)"
        (loadImageFailed)="loadImageFailed()"
        [aspectRatio]="aspectRatios[currentActiveRatio][0]/aspectRatios[currentActiveRatio][1]"
        [class]="!hasImage ? 'hidden' : ''"
        [imageChangedEvent]="imageChangedEvent"
        [imageURL]="src"
        [maintainAspectRatio]="true"
        [onlyScaleDown]="true"
        [resizeToHeight]="1080"
        format="jpeg"
    ></image-cropper>
    <p *ngIf="!hasImage" id="no-image">No image selected</p>
    <div [hidden]="!hasImage" class="ratios">
        <span>Ratios - </span>
        <button (click)="currentActiveRatio=i"
                *ngFor="let ratio of aspectRatios; let i = index" [class]="currentActiveRatio == i ? 'active':''"
                class="btn-dark">
            {{ratio[0]}} : {{ratio[1]}}
        </button>
    </div>

    <input (change)="fileChangeEvent($event)" type="file"/>
    <div class="button-group">
        <button (click)="uploadImage()" class="btn-highlight">Upload</button>
        <button (click)="popup.close(popupId)" class="btn-dark">Cancel</button>
    </div>
    <div [class]="!loading ? 'hidden':'grid'" class="loading">
        <p>UPLOADING...</p>
    </div>
</div>
