#post-list {
    margin-top: 2em;
    padding: 0 0.75em;
}

#search {
    display: flex;
    align-items: center;
    gap: 0.4em;

    input {
        background-color: transparent;
        border-bottom: 2px solid var(--light-gray);
        color: var(--whitey);
        border-radius: 0;
        outline: none;
    }

    button {
        padding: 0.2em 0.6em;
    }
}

.action {
    background-color: var(--blacky) !important;
}

@media screen and (max-width: 400px) {

    #post-list {
        margin-top: 0;
        margin-bottom: 9em;
    }

    .ribbon > h2 {
        margin: 0.5em 0;
    }
}
