<section class="width-control" id="login">
    <h2>Login</h2>
    <p [hidden]="!loginError" class="error-msg">Unable to login with given credentials. Email and Password are case
        sensitive.</p>
    <div *ngIf="(isAuthenticated | async); else form">
        <p>You're already logged in. <a (click)="auth.logout(false)">Click here to Logout</a></p>
    </div>
    <ng-template #form>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input #email="ngModel" email id="email" name="email" ngModel required spellcheck="false" type="email">
                <div [hidden]="(!email.errors?.email || !email.touched) && (!loginForm.submitted || email.valid)"
                     class="invalid-msg">This field should be an email
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" id="password" name="password" ngModel required type="password">
                <div [hidden]="!loginForm.submitted || password.valid" class="invalid-msg">This field is required</div>
            </div>
            <button type="submit">Login</button>
        </form>

        <p>Forgot your password? <a routerLink="">Recover your account</a></p>
        <p>Doesn't have an account? <a routerLink="/register">Register</a></p>
    </ng-template>
</section>
